.home-screen {
  padding: 0 1rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 190px;
  margin-left: 35px;
}


.home-screen h1 {
  color: var(--white);
  font-weight: bold;
}

.home-screen p {
  color: var(--grey);
  text-align: left;
  display: flex;
}

.home-screen a{
color: var(--grey);
}
button{
  color: #fff;
  background-color: #2F80FF;
}
